{% extends 'base.html' %}

{% block content %}

<h1>DATABASE</h1>
    <div class="container">
        {% for post in posts %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <p> By {{ post.auther }} on
                            <small class="text-muted"> {{ post.date_post }} </small>
                        </p>
                    </div>
                    <h2><a class="nav-link article-title" href="#"> {{ post.title }} </a></h2>
                    <p class="article-content"> {{ post.content }} </p>
                </div>
            </article>
            <hr />
        {% endfor %}            
    </div> 

{% endblock content %}
